<header>
    <a href="/" id="app-name"><h1>מידע קורונה</h1></a>
    <nav>
        <ul>
            <li><a href="/">ראשי</a></li>
            <li><a href="/israel-data">הקורונה בישובי ישראל</a></li>
            <li><a href="/general-israel">מידע כללי ישראל</a></li>
            <li><a href="/worldWide-data">הקורונה בעולם</a></li>
        </ul>
    </nav>
</header>